<h1>{{title}}</h1>
{{ #if isEditing}}
  <form>
    <label for='title'>Title</label>
	  {{input id='title' value=title}}
    <label for='body'>Body</label>
		{{textarea id='body' value=body}}
		<button {{action 'save'}}>Save changes</button>
	</form>
{{else}}
  <p>{{body}}</p>
	<button {{action 'edit'}}>Edit post</button>
{{/if}}
